a {
  text-decoration: none;
  color: black;
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-style: normal;
}
img {
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
.navtext {
    max-width: 150px;
}
.navtext a {
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-size: 20px !important;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 300;
}
.carousel-item {
  background: rgb(255, 255, 255);
}
.d-block {
  max-height: 150vh;
  width: 100%;
  object-fit: contain;
}
.blockquote {
  text-align: center;
  padding-top: 20px;
  margin: 0;
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}
.blockquote-extra-line {
  text-align: center;
  padding-top: 5px;
  margin: 0px;
}
.blockquote-final-line {
  text-align: center;
  padding: 5px 0 35px 0;
  margin: 0px;
}
.horseshoe {
  float: left;
  padding: 20px 20px 20px 125px;
}
.horseshoe-container {
  width: 100%;
  height: 21vw;
  margin-bottom: 30px; 
  margin-top: 50px;
}
.left-container {
  float: left;
  height: 21vw;
  width: 50%;
}
.left-content img {
    width: 100%;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21vw;
  background: rgb(255, 255, 255);
  width: 50%;
  height: 525px;
  float: left;
}

.left-content {
  width: 100%;
  height: 21vw;
}

.right-content {
  max-width: 50%;
}
.blockquote p1 {
  font-size: 35px;
}
.blockquote p2 {
  font-size:20px;
  text-align: center;
}
.blockquote p3 {
  font-size:15px;
  text-align: center;
  margin-top: 20px;
}
.quote {
  text-align: center;
  padding: 20px 0 20px 0;
}
.quote p1 {
  font-size: 35px;
  text-align: center;
}
.quote p2 {
  font-size:15px;
  text-align: center;
  margin-left: 4px;
}
.author {
  padding: 10px 0 35px 0;
}
.footer-class {
  text-align: center;
  font-size: 10px;
}
#bramshill-sunrise {
  padding-top: 15px;
}
.img-padding {
  Padding: 15px 0 15px 0;
}
#armor {
  display: block;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
.link-heading {
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
#ride-dreams {
  padding-bottom: 40px;
}
#perhaps {
  padding-top: 30px;
}
.navbar-brand {
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.btn-container-div {
  text-align: center;
}
#bramshill-title {
  padding-bottom: 20px;
}
.text-spacing {
  padding: 20px 0 20px 0;
}
.text-left-align {
  text-align: left;
}
.modal-content {
  object-fit: contain;
}
.modal-body {
  padding: 0;
}
.modal-body img {
  margin: 0px;
}
.modal-title {
  display: none;
}
.modal-footer {
  display: none;
}















